<a href="https://colab.research.google.com/github/LicaCepillo/dio_data_science/blob/main/tabelal_excel_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#importando a biblioteca pandas
import pandas as pd

In [4]:
#Leitura dos arquivos
df1 = pd.read_excel("/content/drive/MyDrive/datasets/Aracaju.xlsx")
df2 = pd.read_excel("/content/drive/MyDrive/datasets/Fortaleza.xlsx")
df3 = pd.read_excel("/content/drive/MyDrive/datasets/Natal.xlsx")
df4 = pd.read_excel("/content/drive/MyDrive/datasets/Recife.xlsx")
df5 = pd.read_excel("/content/drive/MyDrive/datasets/Salvador.xlsx")

In [5]:
df1.head()

    Cidade       Data  Vendas  LojaID  Qtde
0  Aracaju 2018-01-01  142.00    1520     1
1  Aracaju 2018-01-01   14.21    1522     6
2  Aracaju 2018-01-01   71.55    1520     1
3  Aracaju 2018-01-01    3.01    1521     7
4  Aracaju 2018-01-01   24.51    1522     8

In [6]:
#Juntando todos os arquivos
df = pd.concat([df1,df2,df3,df4,df5])

In [7]:
#Exibindo as 5 primeiras linhas
df.head()

    Cidade       Data  Vendas  LojaID  Qtde
0  Aracaju 2018-01-01  142.00    1520     1
1  Aracaju 2018-01-01   14.21    1522     6
2  Aracaju 2018-01-01   71.55    1520     1
3  Aracaju 2018-01-01    3.01    1521     7
4  Aracaju 2018-01-01   24.51    1522     8

In [8]:
#Exibir as 5 ultimas linhas
df.tail()

       Cidade       Data  Vendas  LojaID  Qtde
235  Salvador 2019-01-03   41.84    1034     1
236  Salvador 2019-01-03  126.29    1035     3
237  Salvador 2019-01-03   38.06    1036     3
238  Salvador 2019-01-03  139.64    1035     1
239  Salvador 2019-01-03  161.41    1037     3

In [11]:
#Pegr uma amostra da tabela
df.sample(5)

       Cidade       Data  Vendas  LojaID  Qtde
11    Aracaju 2019-01-01  161.53    1520     4
115     Natal 2019-01-02  202.33    1035     2
172  Salvador 2019-01-02    6.70    1035     1
61   Salvador 2019-01-01    4.54    1036     3
195     Natal 2019-01-02   44.89    1036     3

In [12]:
#Verificando o tio de dado de cada coluna
df.dtypes

Cidade            object
Data      datetime64[ns]
Vendas           float64
LojaID             int64
Qtde               int64
dtype: object

In [13]:
#Alterando o tio de dado da coluna LojaID
df["LojaID"] = df["LojaID"].astype("object")

In [14]:
df.dtypes

Cidade            object
Data      datetime64[ns]
Vendas           float64
LojaID            object
Qtde               int64
dtype: object

In [15]:
#Consultando linhas com valors faltantes
df.isnull().sum()

Cidade    0
Data      0
Vendas    0
LojaID    0
Qtde      0
dtype: int64

In [16]:
#Substituindo os valores nulos pela m√©dia
df["Vendas"].fillna(df["Vendas"].mean(),inplace=True)

In [17]:
df.isnull().sum()

Cidade    0
Data      0
Vendas    0
LojaID    0
Qtde      0
dtype: int64

In [17]:
#Substituir valores nulos por zero
df["Vendas"].fillna(0, inplace=True)

In [19]:
df.isnull().sum()

Cidade    0
Data      0
Vendas    0
LojaID    0
Qtde      0
dtype: int64

In [18]:
#apagar as linhas com valores nulos
df.dropna(inplace=True)

In [20]:
#apagando as linhas con valores nulos com base apenas em 1 colunad
df.dropna(subset=["Vendas"], inplace=True)

In [21]:
#Remover lnhas que estejam com valores faltantes em todas as colunas
df.dropna(how="all", inplace=True)

CRIANDO COLUNAS NOVAS

In [22]:
#Criando uma nova coluna de receita
df["Receita"] = df["Vendas"].mul(df["Qtde"])

In [23]:
df.head()

    Cidade       Data  Vendas LojaID  Qtde  Receita
0  Aracaju 2018-01-01  142.00   1520     1   142.00
1  Aracaju 2018-01-01   14.21   1522     6    85.26
2  Aracaju 2018-01-01   71.55   1520     1    71.55
3  Aracaju 2018-01-01    3.01   1521     7    21.07
4  Aracaju 2018-01-01   24.51   1522     8   196.08

In [24]:
#Retonando a maior receita
df["Receita"].max()

3544.0

In [25]:
#Retornando a menor receita
df["Receita"].min()

3.34

In [26]:
#nlargest trazer as maiores receitas
df.nlargest(3,"Receita")

   Cidade       Data  Vendas LojaID  Qtde  Receita
7   Natal 2019-03-18   886.0    853     4   3544.0
51  Natal 2018-01-21   859.0    852     4   3436.0
55  Natal 2019-01-08   859.0    854     4   3436.0

In [28]:
#nsmallest tr√™s piores receitas
df.nsmallest(3, "Receita")

      Cidade       Data  Vendas LojaID  Qtde  Receita
118  Aracaju 2018-01-01    3.34   1522     1     3.34
65    Recife 2019-01-01    4.01    981     1     4.01
92     Natal 2019-01-02    4.57   1035     1     4.57

In [29]:
#Agrupar por cidade
df.groupby("Cidade")["Receita"].sum()

Cidade
Aracaju       48748.25
Fortaleza     37913.97
Natal        167227.52
Recife        51936.51
Salvador      40596.73
Name: Receita, dtype: float64

In [31]:
#Ordenando o conjunto de dados
df.sort_values("Receita", ascending=False).head(10)

   Cidade       Data  Vendas LojaID  Qtde  Receita
7   Natal 2019-03-18   886.0    853     4   3544.0
55  Natal 2019-01-08   859.0    854     4   3436.0
51  Natal 2018-01-21   859.0    852     4   3436.0
30  Natal 2018-10-02   856.0    853     4   3424.0
41  Natal 2018-05-20   835.0    852     4   3340.0
38  Natal 2018-02-25   828.0    852     4   3312.0
10  Natal 2018-10-27   828.0    852     4   3312.0
69  Natal 2019-03-24   817.0    852     4   3268.0
62  Natal 2018-02-10   793.0    854     4   3172.0
52  Natal 2018-04-27   778.0    854     4   3112.0