<a href="https://colab.research.google.com/github/LicaCepillo/dio_data_science/blob/main/tabelal_excel_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [157]:
#importando a biblioteca pandas
import pandas as pd

In [158]:
#Leitura dos arquivos
df1 = pd.read_excel("/content/drive/MyDrive/datasets/Aracaju.xlsx")
df2 = pd.read_excel("/content/drive/MyDrive/datasets/Fortaleza.xlsx")
df3 = pd.read_excel("/content/drive/MyDrive/datasets/Natal.xlsx")
df4 = pd.read_excel("/content/drive/MyDrive/datasets/Recife.xlsx")
df5 = pd.read_excel("/content/drive/MyDrive/datasets/Salvador.xlsx")

In [159]:
df1.head()

    Cidade       Data  Vendas  LojaID  Qtde
0  Aracaju 2018-01-01  142.00    1520     1
1  Aracaju 2018-01-01   14.21    1522     6
2  Aracaju 2018-01-01   71.55    1520     1
3  Aracaju 2018-01-01    3.01    1521     7
4  Aracaju 2018-01-01   24.51    1522     8

In [160]:
#Juntando todos os arquivos
df = pd.concat([df1,df2,df3,df4,df5])

In [161]:
#Exibindo as 5 primeiras linhas
df.head()

    Cidade       Data  Vendas  LojaID  Qtde
0  Aracaju 2018-01-01  142.00    1520     1
1  Aracaju 2018-01-01   14.21    1522     6
2  Aracaju 2018-01-01   71.55    1520     1
3  Aracaju 2018-01-01    3.01    1521     7
4  Aracaju 2018-01-01   24.51    1522     8

In [162]:
#Exibir as 5 ultimas linhas
df.tail()

       Cidade       Data  Vendas  LojaID  Qtde
235  Salvador 2019-01-03   41.84    1034     1
236  Salvador 2019-01-03  126.29    1035     3
237  Salvador 2019-01-03   38.06    1036     3
238  Salvador 2019-01-03  139.64    1035     1
239  Salvador 2019-01-03  161.41    1037     3

In [163]:
#Pegr uma amostra da tabela
df.sample(5)

        Cidade       Data  Vendas  LojaID  Qtde
202      Natal 2019-01-02   22.45    1036     1
1        Natal 2018-11-25  563.00     853     2
46       Natal 2019-03-26  753.00     853     2
106  Fortaleza 2019-01-01   28.42    1002     3
200      Natal 2019-01-02   41.06    1035     1

In [164]:
#Verificando o tio de dado de cada coluna
df.dtypes

Cidade            object
Data      datetime64[ns]
Vendas           float64
LojaID             int64
Qtde               int64
dtype: object

In [165]:
#Alterando o tio de dado da coluna LojaID
df["LojaID"] = df["LojaID"].astype("object")

In [166]:
df.dtypes

Cidade            object
Data      datetime64[ns]
Vendas           float64
LojaID            object
Qtde               int64
dtype: object

In [167]:
#Consultando linhas com valors faltantes
df.isnull().sum()

Cidade    0
Data      0
Vendas    0
LojaID    0
Qtde      0
dtype: int64

In [168]:
#Substituindo os valores nulos pela m√©dia
df["Vendas"].fillna(df["Vendas"].mean(),inplace=True)

In [169]:
df.isnull().sum()

Cidade    0
Data      0
Vendas    0
LojaID    0
Qtde      0
dtype: int64

In [170]:
#Substituir valores nulos por zero
df["Vendas"].fillna(0, inplace=True)

In [171]:
df.isnull().sum()

Cidade    0
Data      0
Vendas    0
LojaID    0
Qtde      0
dtype: int64

In [172]:
#apagar as linhas com valores nulos
df.dropna(inplace=True)

In [173]:
#apagando as linhas con valores nulos com base apenas em 1 colunad
df.dropna(subset=["Vendas"], inplace=True)

In [174]:
#Remover lnhas que estejam com valores faltantes em todas as colunas
df.dropna(how="all", inplace=True)

CRIANDO COLUNAS NOVAS

In [175]:
#Criando uma nova coluna de receita
df["Receita"] = df["Vendas"].mul(df["Qtde"])

In [176]:
df.head()

    Cidade       Data  Vendas LojaID  Qtde  Receita
0  Aracaju 2018-01-01  142.00   1520     1   142.00
1  Aracaju 2018-01-01   14.21   1522     6    85.26
2  Aracaju 2018-01-01   71.55   1520     1    71.55
3  Aracaju 2018-01-01    3.01   1521     7    21.07
4  Aracaju 2018-01-01   24.51   1522     8   196.08

In [177]:
#Retonando a maior receita
df["Receita"].max()

3544.0

In [178]:
#Retornando a menor receita
df["Receita"].min()

3.34

In [179]:
#nlargest trazer as maiores receitas
df.nlargest(3,"Receita")

   Cidade       Data  Vendas LojaID  Qtde  Receita
7   Natal 2019-03-18   886.0    853     4   3544.0
51  Natal 2018-01-21   859.0    852     4   3436.0
55  Natal 2019-01-08   859.0    854     4   3436.0

In [180]:
#nsmallest tr√™s piores receitas
df.nsmallest(3, "Receita")

      Cidade       Data  Vendas LojaID  Qtde  Receita
118  Aracaju 2018-01-01    3.34   1522     1     3.34
65    Recife 2019-01-01    4.01    981     1     4.01
92     Natal 2019-01-02    4.57   1035     1     4.57

In [181]:
#Agrupar por cidade
df.groupby("Cidade")["Receita"].sum()

Cidade
Aracaju       48748.25
Fortaleza     37913.97
Natal        167227.52
Recife        51936.51
Salvador      40596.73
Name: Receita, dtype: float64

In [182]:
#Ordenando o conjunto de dados
df.sort_values("Receita", ascending=False).head(10)

   Cidade       Data  Vendas LojaID  Qtde  Receita
7   Natal 2019-03-18   886.0    853     4   3544.0
55  Natal 2019-01-08   859.0    854     4   3436.0
51  Natal 2018-01-21   859.0    852     4   3436.0
30  Natal 2018-10-02   856.0    853     4   3424.0
41  Natal 2018-05-20   835.0    852     4   3340.0
38  Natal 2018-02-25   828.0    852     4   3312.0
10  Natal 2018-10-27   828.0    852     4   3312.0
69  Natal 2019-03-24   817.0    852     4   3268.0
62  Natal 2018-02-10   793.0    854     4   3172.0
52  Natal 2018-04-27   778.0    854     4   3112.0

### TRABALHANDO COM DATAS

In [183]:
#Transformando a coluna de data em tipo inteiro
df["Data"] = df["Data"].astype("int64")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: casting datetime64[ns] values to int64 with .astype(...) is deprecated and will raise in a future version. Use .view(...) instead.

In [184]:
df.dtypes

Cidade      object
Data         int64
Vendas     float64
LojaID      object
Qtde         int64
Receita    float64
dtype: object

In [185]:
df["Data"] = pd.to_datetime(df["Data"])

In [186]:
df.dtypes

Cidade             object
Data       datetime64[ns]
Vendas            float64
LojaID             object
Qtde                int64
Receita           float64
dtype: object

In [188]:
#Agrupamento por ano
df.groupby(df["Data"].dt.year)["Receita"].sum()

Data
2018    118176.53
2019    228246.45
Name: Receita, dtype: float64

In [189]:
#Criando uma nova coluna com o ano
df["Ano_Venda"] = df["Data"].dt.year

In [191]:
df.sample(5)

        Cidade       Data  Vendas LojaID  Qtde  Receita  Ano_Venda
104    Aracaju 2018-01-01   46.96   1522     1    46.96       2018
78       Natal 2019-02-07  310.00    853     4  1240.00       2019
107  Fortaleza 2019-01-01   21.90   1004     6   131.40       2019
134      Natal 2019-01-02  125.90   1036     1   125.90       2019
122  Fortaleza 2019-03-02  235.06    983     3   705.18       2019

In [192]:
#Extraindo o m√™s e o dia
df["Mes_Venda"], df["Dia_Venda"] = (df["Data"].dt.month, df["Data"].dt.day)

In [193]:
df.sample(5)

,Cidade,Data,Vendas,LojaID,Qtde,Receita,Ano_Venda,Mes_Venda,Dia_Venda
25,Salvador,2019-01-01,220.62,1035,1,220.62,2019,1,1
1,Natal,2018-11-25,563.00,853,2,1126.00,2018,11,25
28,Natal,2019-02-13,705.00,853,2,1410.00,2019,2,13
31,Salvador,2019-01-01,202.25,1035,2,404.50,2019,1,1
5,Aracaju,2018-01-01,156.20,1522,1,156.20,2018,1,1

In [194]:
#Retornando a data mais antiga
df["Data"].min()

Timestamp('2018-01-01 00:00:00')

In [195]:
#Retornando a data mais recente
df["Data"].max()

Timestamp('2019-04-05 00:00:00')

In [196]:
df["Diferenca_dias"] = (df["Data"]) - (df["Data"].min())

In [197]:
df.sample(5)

,Cidade,Data,Vendas,LojaID,Qtde,Receita,Ano_Venda,Mes_Venda,Dia_Venda,Diferenca_dias
88,Salvador,2019-01-01,31.20,1036,1,31.20,2019,1,1,365 days
197,Natal,2019-01-02,10.45,1036,2,20.90,2019,1,2,366 days
65,Recife,2019-01-01,4.01,981,1,4.01,2019,1,1,365 days
89,Aracaju,2018-01-01,10.15,1523,7,71.05,2018,1,1,0 days
57,Recife,2019-01-01,201.41,980,3,604.23,2019,1,1,365 days